* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #cccccc;
  --primaryColor: #d9d9d9;
  --secondaryColor: #909090;
  --accentColor: #3f3f3f;
}

body {
  background: var(--main-bg-color);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 860px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  margin-left: -20px;
}

.logo-text {
  font-size: 20px;
  width: 50px;
  line-height: 18px;
}

.warning {
  width: 280px;
  height: 60px;
  border-radius: 10px;
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  border: 2px solid red;
  background: rgba(255, 0, 0, 0.219);
}

.green {
  border: 2px solid green;
  background: rgba(0, 128, 0, 0.219);
}

.wrn-text {
  font-size: 12px;
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inpts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.ltop,
.rtop {
  height: 60px;
  width: 280px;
  background: var(--secondaryColor);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h3 {
  margin-left: 6px;
  padding: 4px 0;
  font-size: 12px;
  font-weight: bold;
}

input:focus,
input:valid {
  padding-left: 6px;
}

#earnings,
#spendings {
  width: 140px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

.e-input {
  width: 120px;
  height: 25px;
}

#amount,
#amount2 {
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

.e-amount {
  width: 60px;
  height: 25px;
}

#earnings::placeholder,
#spendings::placeholder,
#amount::placeholder,
#amount2::placeholder {
  font-size: 12px;
}

.l-inputs,
.r-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add {
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background: var(--accentColor);
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}

.lbottom,
.rbottom {
  width: 280px;
  height: 260px;
  background: var(--primaryColor);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.list {
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  margin-left: 10px;
  padding-top: 10px;
}

.libutton {
  width: 50px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background: var(--accentColor);
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  cursor: pointer;
}

.earning-list {
  padding-top: 6px;
}

.summary {
  font-size: 12px;
  margin-left: 6px;
  padding-bottom: 10px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btns {
  margin-right: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

@media only screen and (min-width: 768px) {
  img {
    width: 30px;
  }
  .logo-text {
    font-size: 28px;
    line-height: 26px;
  }
  .inpts {
    flex-direction: row;
  }
  .warning {
    width: 650px;
  }

  .container {
    height: 100vh;
    justify-content: center;
  }

  .wrn-text {
    font-size: 16px;
    width: 500px;
  }
  .ltop,
  .rtop {
    height: 70px;
    width: 320px;
  }
  h3 {
    font-size: 14px;
  }
  #earnings,
  #spendings {
    width: 160px;
    height: 30px;
  }
  #amount,
  #amount2 {
    width: 80px;
    height: 30px;
  }
  #earnings::placeholder,
  #spendings::placeholder,
  #amount::placeholder,
  #amount2::placeholder {
    font-size: 14px;
  }
  .add {
    height: 30px;
    font-size: 12px;
  }
  .lbottom,
  .rbottom {
    width: 320px;
    height: 300px;
  }
  .list {
    font-size: 12px;
    width: 320px;
  }
  .libutton {
    width: 60px;
    height: 30px;
    font-size: 10px;
  }
  .btns {
    margin-right: 15px;
  }
  .summary {
    font-size: 14px;
  }
  .e-input {
    width: 150px;
    height: 25px;
  }
  .e-amount {
    width: 74px;
    height: 25px;
  }
  .e-button {
    margin-right: 16px;
  }
}

@media screen and (min-width: 992px) {
  img {
    width: 40px;
  }
  .logo-text {
    font-size: 36px;
    line-height: 34px;
  }
  .warning {
    width: 800px;
    height: 80px;
  }
  .wrn-text {
    font-size: 24px;
    width: 700px;
  }
  .ltop,
  .rtop {
    height: 90px;
    width: 395px;
  }
  h3 {
    font-size: 18px;
    margin-left: 10px;
  }
  #earnings,
  #spendings {
    width: 180px;
    height: 40px;
  }
  #amount,
  #amount2 {
    width: 90px;
    height: 40px;
  }
  #earnings::placeholder,
  #spendings::placeholder,
  #amount::placeholder,
  #amount2::placeholder {
    font-size: 16px;
  }
  .add {
    height: 40px;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
  }
  .lbottom,
  .rbottom {
    width: 395px;
    height: 400px;
  }
  .list {
    font-size: 14px;
    width: 350px;
  }
  .libutton {
    width: 64px;
    height: 34px;
    font-size: 12px;
  }
  .btns {
    margin-right: -24px;
  }
  .summary {
    font-size: 18px;
    margin-left: 10px;
  }
  .l-inputs,
  .r-inputs {
    gap: 12px;
  }
  .logo {
    margin-left: -60px;
    padding-bottom: 10px;
  }
  .e-input {
    width: 180px;
    height: 25px;
  }
  .e-amount {
    width: 90px;
    height: 25px;
  }
  .e-button {
    margin-right: -10px;
  }
}
