* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #cccccc;
  --primaryColor: #d9d9d9;
  --secondaryColor: #909090;
  --accentColor: #3f3f3f;
}

body {
  background: var(--main-bg-color);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 860px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 5px;
  margin-left: -20px;
}

.logo-text {
  font-size: 20px;
  width: 50px;
  line-height: 18px;
}

.warning {
  width: 280px;
  height: 60px;
  border-radius: 10px;
  background: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrn-text {
  font-size: 12px;
  width: 140px;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inpts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.ltop,
.rtop {
  height: 60px;
  width: 280px;
  background: var(--secondaryColor);
  border-radius: 10px;
}

h3 {
  margin-left: 6px;
  font-size: 12px;
  font-weight: bold;
}

#earnings,
#spendings {
  width: 140px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

#amount {
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

#earnings::placeholder,
#spendings::placeholder,
#amount::placeholder {
  padding-left: 4px;
  font-size: 12px;
}

.l-inputs,
.r-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.add {
  width: 60px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background: var(--accentColor);
  color: #fff;
  font-size: 10px;
}

.lbottom,
.rbottom {
  width: 280px;
  height: 260px;
  background: var(--primaryColor);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: -8px;
  z-index: -1;
}

li {
  font-size: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  margin-left: 10px;
  padding-top: 10px;
}

.libutton {
  width: 50px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background: var(--accentColor);
  color: #fff;
  font-size: 8px;
  font-weight: bold;
}

.earning-list {
  padding-top: 6px;
}

.summary {
  font-size: 12px;
  margin-left: 6px;
  padding-bottom: 10px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.btns {
  margin-right: -4px;
}
